{% extends "goods/base.html" %}

{% block title %}
login
{% endblock %}

{% block content %}
<form action="{% url 'login'%}">
    <div class="container">
        <h1> Авторизация </h1>
        <p> Выполните вход </p>
        <hr>

        <label for="email"><b> Почта </b></label><br>
        <input type="text" placeholder="ввод..." name="email" required><br>

        <label for="psw"><b>Пароль</b></label><br>
        <input type="password" placeholder="ввод..." name="psw" required><br>

        <hr>

        <button type="submit" class="registerbtn"> Войти</button>
        <br>

    </div>
    <div class="container signin">
        <br>
        <p>У Вас нет аккаунта? <a href=" registration "> ЗАРЕГИСТРИРОВАТЬСЯ </a></p>
    </div>
</form>
{% endblock %}