{% extends "base.html" %}
{% load static %}
{% block title %}
Gooods
{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<div class="row">
    <div class="col-md-8">
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static post.image %} " style="width:20vw;height:40vh">
    </div>
    <div class="col-md-4">
        <h4>описание:</h4>
        <p>{{ post.description }}</p>
        <br>
        <h6> Контакты продавца: </h6>
        <p> {{ post.phone }} </p>
        <h6> Цена:  </h6>
        <p>{{ post.price }} {{ post.currency }}</p>
        <h6> Город: </h6>
        <p> {{ post.city}} </p>
        <h6> Опубликовано: </h6>
        <p>{{ post.created_on }}</p>
    </div>
</div>
<br><br><br>
<h3>Оставьте комментарий:</h3>
    <form action="/{{ post.slug }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group" >
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    <h3>Комментарии:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <p>{{ comment.body }}</p>
    <hr>
    {% endfor %}
{% endblock %}