{% extends "goods/base.html" %}

{% block title %}
регистрация
{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    {% csrf_token %}
    <div class="container">
        <h1>Регистрация </h1>
        <p>Заполниет форму для регистрации</p>
        <hr>

        <label for="email"><b>Почта</b></label><br>
        <input type="text" placeholder="ввод..." name="email" required><br>

        <label for="psw"><b>Пароль</b></label><br>
        <input type="password" placeholder="ввод..." name="psw" required><br>

        <label for="psw-repeat"><b>Повторите пароль</b></label><br>
        <input type="password" placeholder="ввод..." name="psw-repeat" required><br>
        <hr>

        <button type="submit" class="registerbtn">Зарегистрироваться</button>
        <br>
    </div>


</form>


{% endblock %}

